<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{base :: base_head(~{::title}, ~{::link})}">
    <title>Employees</title>
    <link rel="stylesheet" href="/css/list-index.css"/>
    <link rel="stylesheet" href="/css/pagination.css"/>
</head>
<body>
<nav th:replace="~{base :: navbar}"></nav>

<div class="container mt-5" th:if="${#lists.isEmpty(employees)}">
    <h1 class="text-center mb-4">There are no employees in this store yet!</h1>

    <a th:if="${@storeExpression.isAllowedToCreateEmployee(id)}"
       th:href="@{/users/create(role='EMPLOYEE', returnUrl='stores/' + ${id} + '/employees', storeId=${id})}"
       class="btn btn-primary mb-3 mt-3">Create Employee</a>
</div>

<div class="container">
    <h1>Employees</h1>

    <a th:if="${@storeExpression.isAllowedToCreateEmployee(id)}"
       th:href="@{/users/create(role='EMPLOYEE', returnUrl='stores/' + ${id} + '/employees', storeId=${id})}"
       class="btn btn-primary mb-3 mt-3">Create Employee</a>

    <!-- User List -->
    <ul class="list" th:if="${!#lists.isEmpty(employees)}">
        <li class="item" th:each="employee : ${employees}">
            <div class="d-flex">

                <img th:src="@{https://ui-avatars.com/api(rounded=true, size=70, format='png', name=${employee.fullname})}"
                     alt="profile picture"
                     class="align-self-center me-2">

                <div class="d-flex flex-column">
                    <span class="item-name" th:text="${employee.fullname}">Full Name</span>
                    <span class="item-secondary-text" th:text="'Email: ' + ${employee.email}">Email</span>
                    <span class="item-secondary-text" th:text="'Phone: ' + ${employee.phone}">Phone Number</span>
                </div>
            </div>

            <div class="d-flex gap-2">
                <form th:action="@{/users/delete/{id}(id=${employee.id}, returnUrl='stores/' + ${id} + '/employees')}"
                      method="post"
                      onsubmit="return confirm('Are you sure you want to fire this employee?')"
                >
                    <button type="submit" class="btn btn-outline-danger">Fire</button>
                </form>
            </div>
        </li>
    </ul>
</div>

<nav th:replace="~{ base :: pagination(@{/stores/{id}/employees(id=${id})}, ${page})}"></nav>

<th:block th:replace="~{base :: scripts}"></th:block>
<script src="/js/confirmDeletion.js" defer></script>
</body>
</html>
