<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{base :: base_head(~{::title}, ~{::link})}">
  <title>Stores</title>
  <link rel="stylesheet" href="/css/list-index.css" />
  <link rel="stylesheet" href="/css/pagination.css" />
  <link rel="stylesheet" href="/css/notification-box.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
<nav th:replace="~{base :: navbar}"></nav>

<div th:if="${#lists.isEmpty(favorites)}">
  <h1>You don't have any favorites yet!</h1>
</div>

<div class="container" th:if="${!#lists.isEmpty(favorites)}">
  <h1>Favorite Stores</h1>

  <!-- Notification Box -->
  <div id="notification" class="notification-box"></div>

  <ul class="list">
    <li class="item" th:each="store : ${favorites}">
      <div class="d-flex">

        <!-- when user is not logged in, always show default heart -->
        <i class="fa-regular fa-heart fa-xl align-self-center me-3" sec:authorize="hasRole('ROLE_ANONYMOUS')"></i>

        <!-- CSRF token data so I can make requests through JS -->
        <div id="csrf-data" th:data-token="${_csrf.token}" th:data-header="${_csrf.headerName}" class="d-none"></div>

        <!-- when user is logged in, show hear depending on their favorites -->
        <i class="fa-solid text-danger fa-heart fa-xl align-self-center me-3 add-fave"
           th:data-store-id="${store.id}"></i>

        <div class="d-flex flex-column">
          <span class="item-name" th:text="${store.name}">Store Name</span>
          <span class="item-secondary-text" th:text="'Floor: ' + ${store.floorNumber}">Floor Number</span>
        </div>
      </div>

      <div class="d-flex gap-2">
        <a th:href="@{/stores/{id}(id=${store.id})}" class="btn btn-primary">View Products</a>
        <a th:href="@{/stores/details/{id}(id=${store.id})}" class="btn btn-outline-primary">Details</a>
      </div>
    </li>
  </ul>
</div>

<nav th:replace="~{ base :: pagination(@{/users/favorites}, ${page})}"></nav>

<th:block th:replace="~{base :: scripts}"></th:block>
<script src="/js/favorite.js" defer></script>
</body>
</html>
