<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{ base :: base_head(~{::title}, ~{::link}) }">
    <title>Update Mall</title>
    <link rel="stylesheet" href="/css/center-card.css">
</head>
<body>
<div class="card-container">
    <div class="card">
        <h2 class="text-center mb-4">Update Mall</h2>

        <form th:action="@{/malls/update/{id}(id=${id})}" method="post" th:object="${updateMallDto}">
            <div class="mb-3">
                <label class="form-label" for="name">Mall Name:</label>
                <input class="form-control" type="text" id="name" th:field="*{name}" required>
                <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>

            <div class="mb-3">
                <label class="form-label" for="address">Address:</label>
                <input class="form-control" type="text" id="address" th:field="*{address}" required>
                <span class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
            </div>

            <div class="mb-3">
                <label class="form-label" for="floors">Floors:</label>
                <input class="form-control" type="number" min="1" step="1" id="floors" th:field="*{floors}" required>
                <span class="text-danger" th:if="${#fields.hasErrors('floors')}" th:errors="*{floors}"></span>
            </div>

            <div class="mb-3">
                <label for="description">Description:</label>
                <textarea th:field="*{description}" id="description" class="form-control"></textarea>
            </div>

            <!-- Can update owner only if admin -->
            <div class="mb-3" th:if="${not #lists.isEmpty(mallOwners)}" sec:authorize="hasRole('ROLE_ADMIN')">
                <label class="form-label" for="manager">Select Owner:</label>
                <select class="form-select" id="manager" th:field="*{ownerId}" required>
                    <option th:each="owner : ${mallOwners}"
                            th:selected="${owner.id.equals(createMallDto.ownerId)}"
                            th:value="${owner.id}"
                            th:text="${owner.fullname} + ' (' + ${owner.email} + ')'">
                    </option>
                </select>
            </div>

            <div class="d-flex">
                <button type="submit" class="btn btn-success w-50">Save</button>
                <a th:href="@{/malls}" class="btn btn-outline-secondary w-50 ms-2">Cancel</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>