<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{ base :: base_head(~{::title}, ~{::link}) }">
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<nav th:replace="~{ base :: navbar }"></nav>

<main class="container d-flex align-items-center justify-content-center">
    <div class="card text-center d-flex flex-row gap-5 align-items-center w-75">
        <div class="img-wrapper">
            <img th:src="@{https://ui-avatars.com/api(rounded=true, size=256, format='png', name=${user.fullname})}"
                 alt="profile picture">
        </div>

        <div id="user-info">
            <h3 class="mb-3" id="fullName" th:text="'Full Name: ' + ${user.fullname}"></h3>
            <p class="text-muted mb-3"><strong>Email:</strong> <span id="email" th:text="${user.email}"></span></p>
            <p class="text-muted mb-3"><strong>Phone:</strong> <span id="phone" th:text="${user.phone}"></span></p>
            <p class="text-muted mb-3"><strong>You are a(n):</strong> <span id="role" th:text="${user.role ?: 'N/A'}"></span></p>
            <p class="text-muted mb-3" th:if="${user.role != null and (user.role.name().equals('EMPLOYEE') or user.role.name().equals('MANAGER'))}">
                <strong th:text="${user.role.name().equals('EMPLOYEE') ? 'You work at: ' : 'You are the manager of: '}"></strong>
                <span id="work" th:text="${user.store != null ? user.store.name : 'N/A'}"></span>
            </p>
        </div>
    </div>

</main>

<th:block th:replace="~{ base :: scripts }"></th:block>
</body>
</html>